{% load staticfiles %}
{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hallway</title>
    <!-- Core CSS - Include with every page -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
  </head>
  <body {% if not user.is_authenticated %}class="bg-image"{% endif %}>
    {% if user.is_authenticated %}
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><i class="material-icons">school</i> Hallway</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            {% if not user.is_authenticated %}
            <li><a href="/accounts/login/">Login</a></li>
            {% else %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Account
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/accounts/profile">Profile</a></li>
                <li><a href="#">Conversations</a></li>
                <li class="divider"></li>
                <li><a href="/accounts/logout">Logout</a></li>
              </ul>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    {% endif %}
    <div class="container-fluid">
    {% block content %}
    {% endblock %}
    {% render_bundle 'main' %}
    </div>

    <!-- Core Scripts - Include with every page -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    {% block javascript %}
    {% endblock %}


  </body>
</html>
