{% extends 'base.html' %}
{% load gravatar %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row">
  <div class="col-xs-12">
  <h1>Profile Details</h1>
  </div>
</div>
<div class="row">
  <div class="col-sm-3 text-center">
    <div class="row">
      <div class="col-xs-12">
        {% gravatar user.email 150 %}
      </div>
    </div>
    <div class="col-xs-12">
      No photo? <a href="https://en.gravatar.com">Get a gravatar!</a>
    </div>
  </div>
  <div class="col-sm-9">
    <form method="post">
      {% csrf_token %}
      {% crispy form form.helper %}
      {% crispy profile_form profile_form.helper %}
      <input type="submit" class="btn btn-primary" value="Save">
    </form>
  </div>
</div>
{% endblock content %}
